n8n-workflows/create-student-folder.json
{
  "name": "Create Student Folder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-student-folder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "webhook-student-folder",
      "name": "Webhook - Create Student Folder",
      "webhookId": "create-student-folder"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.body.folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.body.parentFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "id": "create-folder-node",
      "name": "Create Student Folder in Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, folder_id: $json.id, folder_name: $json.name, message: 'Carpeta de alumno creada exitosamente' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        680,
        300
      ],
      "id": "respond-success",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Webhook - Create Student Folder": {
      "main": [
        [
          {
            "node": "Create Student Folder in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Student Folder in Drive": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0981ae4c0ef6f915f0b46ae60edab85d4bd6cddc77dbd7c3bcb8e7a3ea6e2a7"
  }
}
