n8n-workflows/flujo_correccion_masiva.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre_universidad"
            },
            {
              "name": "facultad"
            },
            {
              "name": "carrera"
            },
            {
              "name": "materia"
            },
            {
              "name": "comision"
            },
            {
              "name": "apiKey"
            },
            {
              "name": "rubrica",
              "type": "object"
            },
            {
              "name": "trabajo"
            },
            {
              "name": "spreadsheet_id"
            },
            {
              "name": "rubric_folder_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2320,
        3208
      ],
      "id": "1cb05e17-f626-4b90-ae22-0c51f6738d01",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2af05-2474-4bd0-b1de-2a3fab055a1b",
              "name": "cantidad_corregidos",
              "value": "={{ $json.cantidad_corregidos }}",
              "type": "string"
            },
            {
              "id": "d627182f-005a-4911-a471-d4eb8a4f9ea3",
              "name": "cantidad_total_corregidos",
              "value": "={{ $json.total_procesados }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        2944
      ],
      "id": "43745c96-b120-4e03-99e0-21dec8d2131e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "// Contador de alumnos corregidos exitosamente en ESTA ejecución\n// Solo cuenta los items que tienen el campo 'corregido_ahora' = true\n\nconst todosLosItems = $input.all();\nconst itemsCorregidosAhora = todosLosItems.filter(item => item.json.corregido_ahora === true);\nconst cantidadCorregidos = itemsCorregidosAhora.length;\n\nreturn [\n  { \n    json: { \n      cantidad_corregidos: cantidadCorregidos,\n      total_procesados: todosLosItems.length\n    } \n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        2944
      ],
      "id": "09388723-077b-4ee7-855a-9012248f925d",
      "name": "Contador Alumnos Corregidos2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c999c517-3b2c-442a-8f23-2872fc258bda",
              "leftValue": "={{0}}",
              "rightValue": "={{ $json.values().length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        3136
      ],
      "id": "53551871-64a1-4a00-bfd9-da2c33c13862",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('DATOS2').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "alumno",
              "lookupValue": "={{ $json.student_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        3136
      ],
      "id": "2cb80401-66b2-45e1-8ce2-f854d8a635eb",
      "name": "Get row(s) in sheet2",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n3KenxiMBhQIWtGC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "VKL0sjGjgURUIgMx",
          "mode": "list",
          "cachedResultName": "alumnos_corregidos",
          "cachedResultUrl": "/projects/5Xyund7HlaEc8F9U/datatables/VKL0sjGjgURUIgMx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.alumno }}"
          },
          "matchingColumns": [
            "nombre"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1264,
        2944
      ],
      "id": "c131b985-2ef7-41c2-884b-40d8fdc5c6b4",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1648,
        3208
      ],
      "id": "4751768f-eca1-4528-862f-ca2534cd1691",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('DATOS2').item.json.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Hoja 1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        2944
      ],
      "id": "73b66fa8-eceb-4e2d-8a88-d6180ba82a86",
      "name": "Append row in sheet2",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n3KenxiMBhQIWtGC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parser de respuesta de Gemini\n\nconst geminiResponse = $input.first().json;\n\ntry {\n  // La respuesta puede venir directamente como array o dentro de una propiedad\n  let responseArray;\n  \n  // Intentar diferentes estructuras posibles\n  if (Array.isArray(geminiResponse)) {\n    responseArray = geminiResponse;\n  } else if (geminiResponse.body && Array.isArray(geminiResponse.body)) {\n    responseArray = geminiResponse.body;\n  } else if (geminiResponse.data && Array.isArray(geminiResponse.data)) {\n    responseArray = geminiResponse.data;\n  } else {\n    // Si no es array, intentar acceder directamente\n    responseArray = [geminiResponse];\n  }\n  \n  // Navegar a la estructura de respuesta de Gemini\n  const candidate = responseArray[0]?.candidates?.[0];\n  \n  if (!candidate) {\n    // Debug: mostrar la estructura recibida\n    throw new Error(`No se encontró candidate. Estructura recibida: ${JSON.stringify(geminiResponse).substring(0, 200)}`);\n  }\n  \n  const textContent = candidate.content?.parts?.[0]?.text;\n  \n  if (!textContent) {\n    throw new Error(\"No se encontró texto en la respuesta\");\n  }\n  \n  // Parsear el JSON que viene como string dentro de text\n  const parsedData = JSON.parse(textContent);\n  \n  // Extraer las propiedades necesarias\n  const resultado = {\n    alumno: $('Contexto Alumno2').first().json.student_name || \"\",\n    puntaje_total: parsedData.puntaje_total || 0,\n    criterios: parsedData.criterios || \"\",\n    fortalezas: parsedData.fortalezas || \"\",\n    recomendaciones: parsedData.recomendaciones || \"\"\n  };\n  \n  return [{ json: resultado }];\n  \n} catch (error) {\n  return [{ \n    json: { \n      error: \"Error al parsear respuesta de Gemini\",\n      detalle: error.message,\n      debug_input: JSON.stringify(geminiResponse).substring(0, 500), // Primeros 500 caracteres para debug\n      alumno: \"\",\n      puntaje_total: 0,\n      criterios: \"\",\n      fortalezas: \"\",\n      recomendaciones: \"\"\n    } \n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        2944
      ],
      "id": "82433730-a70f-44ba-90dc-2b19aef69f45",
      "name": "Code8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $('DATOS2').first().json.apiKey }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiBody }}",
        "options": {}
      },
      "id": "4873c5bc-e0d6-445d-94a4-0012a3b46688",
      "name": "Gemini: Corregir (rúbrica + .py)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        592,
        3040
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gemini Body Builder - Versión mejorada para detección precisa de estructuras prohibidas\n\n// Asegurar que la rúbrica sea string\nconst rubricaStr = JSON.stringify($('DATOS2').first().json.rubrica)\n\nconst fileUri = $input.first().json.entrega_uri;\n\nif (!fileUri) {\n  return [{ json: { ...$json, estado: \"Error upload Gemini\", error: \"missing fileUri\" } }];\n}\n\nconst mimeType = \"text/plain\";  // Corregido de \"plain/text\"\nconst alumno = $input.first().json.student_name\nconst archivo = \"entrega\"\n\nconst body = {\n    generationConfig: {\n        temperature: 0,\n        topK: 1,\n        topP: 1,  // Cambiado de 0 a 1\n        candidateCount: 1,\n        // seed: 42,  // ELIMINADO - No soportado por Gemini\n        // thinkingConfig: { thinkingBudget: 15000 },  // ELIMINADO - No soportado\n        responseMimeType: \"application/json\",  // Cambiado de response_mime_type a responseMimeType\n        responseSchema: {  // Cambiado de response_schema a responseSchema\n            type: \"object\",\n            properties: {\n                alumno: { type: \"string\" },\n                puntaje_total: { type: \"number\" },\n                criterios: { type: \"string\" },\n                fortalezas: { type: \"string\" },\n                recomendaciones: { type: \"string\" }\n            },\n            required: [\"alumno\", \"puntaje_total\", \"criterios\", \"fortalezas\", \"recomendaciones\"]\n        }\n    },\n    contents: [{\n        role: \"user\",\n        parts: [\n            {\n                text: `Eres un corrector automático consistente y determinista. Tu única fuente de verdad es la rúbrica JSON provista.\nNo interpretes, no inventes criterios, no asignes puntos por intuición.\nTu objetivo es producir una calificación reproducible (entera 0–100) a partir de los criterios, pesos y penalizaciones definidos.\n\nEntradas\n\nRUBRICA PARA CORREGIR: {{ $('Start').item.json.toJsonString() }}\n\n\n\nentrega: contenido textual del examen o archivo del alumno (por ejemplo, código fuente).\n\n\nProceso de evaluación\n\nInterpretación de la rúbrica\n\nUsa exclusivamente los campos definidos en criteria, penalties, mandatory_fail_conditions.\n\nConsidera grading.total_points como el total máximo (por defecto 100).\n\nCada criterio tiene un weight (0..1). Su puntaje máximo es weight * total_points.\n\nEvaluación de criterios (nota_original)\n\nPara cada criterio:\n\nEvalúa objetivamente si la entrega cumple completamente (100%), parcialmente (50%) o no cumple (0%) según la descripción textual del criterio.\n\nMultiplica el grado de cumplimiento por el peso del criterio y por el total de puntos.\n\nSuma todos los puntajes parciales.\n\nRedondea el total al entero más cercano (usar half_up si se define).\n\nAsegura que nota_original sea un número entero entre 0 y 100.\n\nPenalizaciones\n\nRecorre los penalties.\n\nSi la entrega incurre en alguna penalización (por ejemplo, estructuras prohibidas, validaciones ausentes, mensajes incoherentes), resta el porcentaje indicado.\n\nAplica los descuentos multiplicativamente:\nnota_penalizada = nota_original * Π(1 - penalty_percent/100)\n\nSi mandatory_fail_conditions se cumple, recorta la nota final al máximo indicado (max_final_score del 10%, 15%, etc.).\n\nRedondea el resultado final al entero más cercano entre 0 y 100.\n\nrecomendaciones: ofrece acciones específicas y concretas (máx. 4 ítems) para mejorar esos criterios en una próxima entrega.\n\nConsistencia\n\nCada vez que se procese la misma entrega con la misma rúbrica, el resultado debe ser idéntico (determinismo total).\n\nNo uses sinónimos, intuición ni estilo narrativo.\n\nLos puntajes se basan exclusivamente en las frases de la rúbrica y sus pesos.\n\nSalida obligatoria\n\nDevuelve únicamente una salida con esta plantilla de ejemplo (NO HACE FALTA QUE SEAN LOS MISMOS CRITERIOS QUE LA PLANTILLA, LOS CRITERIOS DEBEN SER LOS criteria.id, LOS TITULOS LOS critaria.name, Y SU PUNTAJE criteria.weight NO UTILICES LOS TASK COMO CRITERIOS),\n\nEJEMPLO: \n\nRubrica -->\n        \"criteria\": [\n        {\n            \"id\": \"C1\",\n            \"name\": \"Correctitud funcional y lógica\",\n            \"weight\": 0.25\n        }\n        {\n            \"id\": \"C2\",\n            \"name\": \"Manipulación de Listas (Indexación, Slicing y Métodos)\",\n            \"weight\": 0.2\n        }\nDevolucion -->\n✅C1 — Correctitud funcional y lógica: 24 / 25 · El código es legible, está bien indentado, utiliza nombres de variables significativos y presenta una estructura lógica fácil de seguir.\n\n⚠️C2 — Manipulación de Listas (Indexación, Slicing y Métodos): 15 / 20 · Se implementan de manera incorrecta ciertas operaciones de las listas.\n\nDEBES MARCAR cada uno de los criterios con emoji segun su % de completitud para cada weight [✅ = 80% - 100%, ⚠️ = 60% - 79%, ❌ = 0% - 59%], ademas, al calificar cada criterio debes poner cuantos puntos obtuvo seguido de los puntos totales para ese criterio, ejemplo 10/15:\n\nHola 👋\n\nTu nota final es 8.\n\n📌 Resumen por criterios\n\n✅C1 — Implementación de Entidades del Dominio: 90 / 100 · Implementación de la mayoría de las entidades del dominio. Persona no es abstracta. Falta validación de DNI con regex en el constructor de Persona.\n\n❌C2 — Implementación de Lógica de Negocio (Service Pattern): 40 / 100 · Implementa la interface CitaService y la clase CitaManager, pero los métodos guardarCitas() y cargarCitas() están vacíos. No usa ConcurrentHashMap para thread-safety. No se implementan las validaciones completas en programarCita().\n\n❌C3 — Validaciones y Reglas de Negocio: 40 / 100 · Validación de fecha futura y costo positivo implementadas. No se validan la disponibilidad de médico/sala ni la compatibilidad de especialidades. Validación de DNI implementada. Validación de Matrícula implementada. Validaciones de strings no nulos/vacíos implementadas.\n\n⚠️C4 — Patrones de Diseño y Arquitectura: 70 / 100 · Patrón Service implementado (CitaService/CitaManager). Enums implementados (TipoSangre, EspecialidadMedica, EstadoCita). Persona no es abstracta, por lo que no se aplica Template Method. CitaManager centraliza la coordinación de citas. Separación de responsabilidades implementada. Uso apropiado de atributos final para datos core en Cita.\n\n✅C5 — Relaciones y Asociaciones entre Entidades: 80 / 100 · Relaciones Hospital ↔ Departamento y Hospital ↔ Paciente implementadas. Relación Departamento ↔ Medico implementada. Relación Departamento ↔ Sala implementada. Relación Paciente ↔ HistoriaClinica implementada. Relación Cita ↔ (Paciente, Medico, Sala) implementada. Prevención de duplicados implementada.\n\n❌C6 — Persistencia de Datos (CSV): 40 / 100 · Método toCsvString() en Cita implementado. Método fromCsvString() en Cita implementado. Métodos guardarCitas() y cargarCitas() en CitaManager no implementados.\n\n✅C7 — Programa Main - Demostración Completa: 80 / 100 · Inicialización de Hospital y Departamentos implementada. Registro de médicos con especialidades implementado. Registro de pacientes con historias clínicas implementado. Programación de citas implementada. Consultas del sistema implementadas. Persistencia no implementada. Validaciones no implementadas. Estadísticas implementadas. El programa se ejecuta sin errores.\n\n✅C8 — Calidad de Código y Buenas Prácticas: 100 / 100 · Nomenclatura correcta. Código bien estructurado. Encapsulación implementada. Manejo de excepciones implementado. Comentarios implementados. · Sin evidencia concreta ⇒ No se penaliza, sólo se recomienda.\n\n💡 Fortalezas detectadas\n\n🌟 Buen uso de Lombok para reducir el boilerplate code.\n🌟 Implementación de la mayoría de las entidades del dominio.\n\n🛠️ Recomendaciones\n\nEl proyecto presenta una buena estructura y organización, con un uso adecuado de JPA para la persistencia de datos. Sin embargo, la falta de implementación de la persistencia CSV y algunas validaciones críticas impactan negativamente en la nota final. Además, la clase Persona debe ser abstracta para cumplir con el patrón Template Method.\n\n`\n            },\n            { fileData: { fileUri, mimeType } },\n            { text: \"RÚBRICA JSON:\" },\n            { text: rubricaStr },\n            { text: \"METADATOS:\" },\n            { text: \"alumno=\" + alumno },\n            { text: \"archivo=\" + archivo }\n        ]\n    }]\n};\n\nreturn [{ json: { geminiBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        3040
      ],
      "id": "ca4dd133-36e9-4b60-a708-76ef3652fc99",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "student_name",
              "value": "={{ $('Alumno actual (Set)2').item.json.student_name }}",
              "type": "string",
              "id": "85e2912d-ad7b-4b28-ab02-13cb3bcff07b"
            },
            {
              "name": "commision_name",
              "value": "={{ $('Alumno actual (Set)2').item.json.commision_name }}",
              "type": "string",
              "id": "b104e926-e301-4917-964a-920db101a99b"
            },
            {
              "name": "entrega_uri",
              "value": "={{ $json.entrerga_uri }}",
              "type": "string",
              "id": "1af43832-7bd6-4f64-82cf-1f5938acf844"
            }
          ]
        },
        "options": {}
      },
      "id": "bbc4e93f-ea0d-43e5-bb7e-4285782f0edd",
      "name": "Contexto Alumno2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        3040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f6eeb46-38d7-4ec3-a0e1-128924437049",
              "name": "entrerga_uri",
              "value": "={{ $json.file.uri }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        3040
      ],
      "id": "45e47695-9035-4761-ab19-1b11b572efa1",
      "name": "Entrega URI2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/files?key={{$('DATOS2').item.json.apiKey}}&uploadType=media",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"text/plain\" }",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "0584d2c9-30d8-46bb-8cd3-5bca4eadb9b5",
      "name": "Gemini: Upload código (.py)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -304,
        3136
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        3136
      ],
      "id": "8d34f727-e8e0-4782-ac9b-1026f10d7ffb",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Alumno actual (Set)2').item.json.student_folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -752,
        3136
      ],
      "id": "5572942f-df3d-4657-a24b-073e106c0f6e",
      "name": "Search files and folders38",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "student_name",
              "value": "={{ $json.name }}",
              "type": "string",
              "id": "c4c9bdfa-dfbc-4f08-bfe5-2824088301fc"
            },
            {
              "name": "student_folder_id",
              "value": "={{ $json.id }}",
              "type": "string",
              "id": "b868ea40-f1af-4048-84cd-c3e81182b77d"
            },
            {
              "name": "commision_name",
              "value": "={{ $('When Executed by Another Workflow').item.json.comision }}",
              "type": "string",
              "id": "09727d2f-0012-4d6d-b0df-3a29cfe66bbb"
            }
          ]
        },
        "options": {}
      },
      "id": "c4745e43-2846-4d48-9889-aa163e482b1d",
      "name": "Alumno actual (Set)2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        3136
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=❎ Error al corregir la tarea de {{ $('Contexto Alumno2').item.json.student_name }} en Gemini!",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        3136
      ],
      "id": "cf63f2fc-cb9d-42b9-b692-4ac8ce93eeae",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=❎ Error al subir la tarea de {{ $('Alumno actual (Set)2').item.json.student_name }} a Gemini!",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        3232
      ],
      "id": "57db8e59-e049-43c1-a3bd-de8f73ec1700",
      "name": "Error subiendo el codigo a gemini2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mark-corrected-now",
              "name": "corregido_ahora",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        3208
      ],
      "id": "cd332af0-a88d-4315-8b72-34ed52a2936a",
      "name": "Marcar como corregido2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=\"{{ $('DATOS2').item.json.rubric_folder_id }}\" in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1872,
        3208
      ],
      "id": "f01fd1c9-6e09-4336-bff1-49e87cda6cca",
      "name": "Search files and folders31",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d38bca3-55bc-416e-bf67-d040f929ce73",
              "name": "nombre_universidad",
              "value": "={{ $json.nombre_universidad }}",
              "type": "string"
            },
            {
              "id": "2b52c9d2-fef4-4398-bb40-06dd43a3e6e1",
              "name": "facultad",
              "value": "={{ $json.facultad }}",
              "type": "string"
            },
            {
              "id": "357cc863-6e6f-40b4-8729-42b288efed0c",
              "name": "carrera",
              "value": "={{ $json.carrera }}",
              "type": "string"
            },
            {
              "id": "52edaaa7-9a4d-4ee8-87db-7d23effd55d5",
              "name": "materia",
              "value": "={{ $json.materia }}",
              "type": "string"
            },
            {
              "id": "4aa84934-e310-4629-b7b0-308ab5a9ba57",
              "name": "comision",
              "value": "={{ $json.comision }}",
              "type": "string"
            },
            {
              "id": "806e62d9-5423-4a37-ad02-3aa8348f5a21",
              "name": "apiKey",
              "value": "={{ $json.apiKey }}",
              "type": "string"
            },
            {
              "id": "5c96a24f-fae9-41b8-bfa7-47a70479d47d",
              "name": "rubrica",
              "value": "={{ $json.rubrica }}",
              "type": "object"
            },
            {
              "id": "a13c98e6-bc01-4a57-945f-300cb6c86a06",
              "name": "trabajo",
              "value": "={{ $json.trabajo }}",
              "type": "string"
            },
            {
              "id": "spreadsheet-id-field-2",
              "name": "spreadsheet_id",
              "value": "={{ $json.spreadsheet_id }}",
              "type": "string"
            },
            {
              "id": "rubric-folder-id-field",
              "name": "rubric_folder_id",
              "value": "={{ $json.rubric_folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        3208
      ],
      "id": "746d0dd5-3fb2-4888-8c7c-084483dcc2e7",
      "name": "DATOS2"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "DATOS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contador Alumnos Corregidos2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search files and folders38",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row2": {
      "main": [
        [
          {
            "node": "Marcar como corregido2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Contador Alumnos Corregidos2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alumno actual (Set)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Corregir (rúbrica + .py)2": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Gemini: Corregir (rúbrica + .py)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto Alumno2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrega URI2": {
      "main": [
        [
          {
            "node": "Contexto Alumno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Upload código (.py)2": {
      "main": [
        [
          {
            "node": "Entrega URI2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error subiendo el codigo a gemini2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Gemini: Upload código (.py)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders38": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alumno actual (Set)2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como corregido2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders31": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS2": {
      "main": [
        [
          {
            "node": "Search files and folders31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f0981ae4c0ef6f915f0b46ae60edab85d4bd6cddc77dbd7c3bcb8e7a3ea6e2a7"
  }
}