n8n-workflows/flujo-correcion-automatica-principal.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automatico",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        2208
      ],
      "id": "eff1532f-7fa4-4db8-8a25-df29f084a866",
      "name": "Correccion automatica",
      "webhookId": "14015191-6a15-4d6e-b300-66f2c706bace"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"drive_link\": \"https://docs.google.com/spreadsheets/d/{{ $json.id }}\",\n  \"alumnos_corregidos\": {{ $('Call correccion-masiva').last().json.cantidad_corregidos }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2384,
        2208
      ],
      "id": "3d75e6ee-7f51-4be2-b0d8-ade70156f96c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "spreadsheet-response-id",
              "name": "id",
              "value": "={{ $('DATOS').item.json.spreadsheet_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        2208
      ],
      "id": "5cdb8895-0c1c-40e2-a83e-b6be2fa91804",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d38bca3-55bc-416e-bf67-d040f929ce73",
              "name": "nombre_universidad",
              "value": "={{ $json.body.university_id }}",
              "type": "string"
            },
            {
              "id": "2b52c9d2-fef4-4398-bb40-06dd43a3e6e1",
              "name": "facultad",
              "value": "={{ $json.body.faculty_id }}",
              "type": "string"
            },
            {
              "id": "357cc863-6e6f-40b4-8729-42b288efed0c",
              "name": "carrera",
              "value": "={{ $json.body.career_id }}",
              "type": "string"
            },
            {
              "id": "52edaaa7-9a4d-4ee8-87db-7d23effd55d5",
              "name": "materia",
              "value": "={{ $json.body.course_id }}",
              "type": "string"
            },
            {
              "id": "4aa84934-e310-4629-b7b0-308ab5a9ba57",
              "name": "comision",
              "value": "={{ $json.body.commission_id }}",
              "type": "string"
            },
            {
              "id": "3c898573-5264-4a12-8cae-f546505b4a93",
              "name": "trabajo",
              "value": "={{ $json.body.rubric_id }}",
              "type": "string"
            },
            {
              "id": "806e62d9-5423-4a37-ad02-3aa8348f5a21",
              "name": "apiKey",
              "value": "={{ $json.body.gemini_api_key }}",
              "type": "string"
            },
            {
              "id": "5c96a24f-fae9-41b8-bfa7-47a70479d47d",
              "name": "rubrica",
              "value": "={{ $json.body.rubric_json }}",
              "type": "object"
            },
            {
              "id": "spreadsheet-id-field-auto",
              "name": "spreadsheet_id",
              "value": "={{ $json.body.spreadsheet_id }}",
              "type": "string"
            },
            {
              "id": "rubric-folder-id-field-auto",
              "name": "rubric_folder_id",
              "value": "={{ $json.body.rubric_folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        2208
      ],
      "id": "1b7da89b-f26d-448b-b2a6-4400c6b45c2a",
      "name": "DATOS"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.comision }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        2208
      ],
      "id": "7c6faabe-46c4-4bb6-86c7-5cb127fa8c96",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dkYrOgFWPOvd52x9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.materia }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        2208
      ],
      "id": "f5b23c43-357a-47e5-8200-5931675bb8c5",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dkYrOgFWPOvd52x9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.carrera }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        2208
      ],
      "id": "77cece09-e20e-4265-b24e-a817f4a066c6",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dkYrOgFWPOvd52x9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.facultad }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        2208
      ],
      "id": "bb0ed52b-9cf1-4bf2-8bf4-3c511afe79e3",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dkYrOgFWPOvd52x9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.nombre_universidad }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.drive_root }}",
            "mode": "url"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        2208
      ],
      "id": "0609e469-d12e-48b7-9877-503ff3675790",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dkYrOgFWPOvd52x9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11502e79-ffed-48d3-9e32-c9a93534da9d",
              "name": "drive_root",
              "value": "https://drive.google.com/drive/folders/1Tq19g0xWDlhigxY7zMIKS_zBDxvEWL89",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        2208
      ],
      "id": "944a57e5-c060-4cd4-8e43-1f046924bde9",
      "name": "ROOT DRIVE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3rMJNqBEWeApZhtm",
          "mode": "list",
          "cachedResultUrl": "/workflow/3rMJNqBEWeApZhtm",
          "cachedResultName": "Correcion Masiva"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_universidad": "={{ $('DATOS').item.json.nombre_universidad }}",
            "facultad": "={{ $('DATOS').item.json.facultad }}",
            "carrera": "={{ $('DATOS').item.json.carrera }}",
            "materia": "={{ $('DATOS').item.json.materia }}",
            "comision": "={{ $('DATOS').item.json.comision }}",
            "apiKey": "={{ $('DATOS').item.json.apiKey }}",
            "rubrica": "={{ $('DATOS').item.json.rubrica }}",
            "trabajo": "={{ $('DATOS').item.json.trabajo }}",
            "spreadsheet_id": "={{ $('DATOS').item.json.spreadsheet_id }}",
            "rubric_folder_id": "={{ $('DATOS').item.json.rubric_folder_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre_universidad",
              "displayName": "nombre_universidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "facultad",
              "displayName": "facultad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "carrera",
              "displayName": "carrera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comision",
              "displayName": "comision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiKey",
              "displayName": "apiKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rubrica",
              "displayName": "rubrica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "trabajo",
              "displayName": "trabajo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "spreadsheet_id",
              "displayName": "spreadsheet_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rubric_folder_id",
              "displayName": "rubric_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1936,
        2208
      ],
      "name": "Call correccion-masiva",
      "id": "c19254d2-b3f7-42d3-860b-9749a48f6cce",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.trabajo }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1712,
        2208
      ],
      "id": "f49bbd2a-21e1-4fa4-80f4-8014a73f10e4",
      "name": "Search files and folders5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dkYrOgFWPOvd52x9",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Correccion automatica": {
      "main": [
        [
          {
            "node": "DATOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS": {
      "main": [
        [
          {
            "node": "ROOT DRIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Search files and folders5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROOT DRIVE": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call correccion-masiva": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Call correccion-masiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbcda0441d9be2541109130b7bbb2e105b22a7a853c1b05464f9dde0fb705f74"
  }
}