n8n-workflows/get-student-corrections.json
{
  "name": "Obtener Correcciones de Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-student-corrections",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "get-student-corrections"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.student_name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "IF - ¿Buscar un alumno?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "lookupColumn": "Alumno",
        "lookupValue": "={{ $json.body.student_name }}"
      },
      "id": "google-sheets-single",
      "name": "Google Sheets - Buscar Alumno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "readRows",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.spreadsheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {
          "range": "A2:Z"
        }
      },
      "id": "google-sheets-all",
      "name": "Google Sheets - Leer Todas las Filas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Normalizar datos de Google Sheets al formato esperado por el script Python\n\nconst items = $input.all();\nconst normalizedData = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // Normalizar nombres de columnas (pueden venir con mayúsculas/minúsculas)\n  const normalizedRow = {\n    alumno: row.Alumno || row.alumno || row.ALUMNO || '',\n    puntaje_total: row.puntaje_total || row.Puntaje || row.Nota || row.nota || '',\n    criterios: row.criterios || row.Criterios || row['Resumen por criterios'] || row.resumen_por_criterios || '',\n    fortalezas: row.fortalezas || row.Fortalezas || row.FORTALEZAS || '',\n    recomendaciones: row.recomendaciones || row.Recomendaciones || row.RECOMENDACIONES || ''\n  };\n  \n  // Solo agregar si tiene nombre de alumno\n  if (normalizedRow.alumno) {\n    normalizedData.push(normalizedRow);\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    count: normalizedData.length,\n    data: normalizedData\n  }\n};"
      },
      "id": "function-node",
      "name": "Normalizar Formato",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF - ¿Buscar un alumno?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - ¿Buscar un alumno?": {
      "main": [
        [
          {
            "node": "Google Sheets - Buscar Alumno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Leer Todas las Filas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Buscar Alumno": {
      "main": [
        [
          {
            "node": "Normalizar Formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Leer Todas las Filas": {
      "main": [
        [
          {
            "node": "Normalizar Formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Formato": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "tags": [
    {
      "name": "google-sheets",
      "id": "1"
    },
    {
      "name": "correcciones",
      "id": "2"
    }
  ]
}
