n8n-workflows/upload-file-to-drive.json
{
  "name": "Upload File to Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-file-to-drive",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-upload-file",
      "name": "Webhook - Upload File",
      "webhookId": ""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "fileName",
              "value": "={{ $json.body.fileName }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "folderId",
              "value": "={{ $json.body.folderId }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "fileData",
              "value": "={{ $json.body.file }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "set-upload-variables",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "options": {
          "mimeType": "text/plain"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "id": "upload-to-drive",
      "name": "Upload to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "drive_file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "drive_file_url",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view",
              "type": "string"
            },
            {
              "id": "4",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "respond-success",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "error",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 480],
      "id": "format-error",
      "name": "Format Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 480],
      "id": "respond-error",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook - Upload File": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T00:00:00.000Z",
  "versionId": ""
}
