n8n/workflows/correcion-automatica.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automatico",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -176,
        2064
      ],
      "id": "3582281b-bf2b-4038-93b4-2e5bf8131840",
      "name": "Correccion automatica",
      "webhookId": "14015191-6a15-4d6e-b300-66f2c706bace"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"drive_link\": \"https://docs.google.com/spreadsheets/d/{{ $json.id }}\",\n  \"alumnos_corregidos\": {{ $('Call correccion-masiva').last().json.cantidad_corregidos }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2288,
        2064
      ],
      "id": "b9ca7ccd-7828-47f2-a054-95df7f75c38c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "spreadsheet-response-id",
              "name": "id",
              "value": "={{ $('DATOS').item.json.spreadsheet_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        2064
      ],
      "id": "7f9fe19a-440f-4efc-b8bc-2ba63e2bd3ed",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d38bca3-55bc-416e-bf67-d040f929ce73",
              "name": "nombre_universidad",
              "value": "={{ $json.body.university_id }}",
              "type": "string"
            },
            {
              "id": "2b52c9d2-fef4-4398-bb40-06dd43a3e6e1",
              "name": "facultad",
              "value": "={{ $json.body.faculty_id }}",
              "type": "string"
            },
            {
              "id": "357cc863-6e6f-40b4-8729-42b288efed0c",
              "name": "carrera",
              "value": "={{ $json.body.career_id }}",
              "type": "string"
            },
            {
              "id": "52edaaa7-9a4d-4ee8-87db-7d23effd55d5",
              "name": "materia",
              "value": "={{ $json.body.course_id }}",
              "type": "string"
            },
            {
              "id": "4aa84934-e310-4629-b7b0-308ab5a9ba57",
              "name": "comision",
              "value": "={{ $json.body.commission_id }}",
              "type": "string"
            },
            {
              "id": "3c898573-5264-4a12-8cae-f546505b4a93",
              "name": "trabajo",
              "value": "={{ $json.body.rubric_id }}",
              "type": "string"
            },
            {
              "id": "806e62d9-5423-4a37-ad02-3aa8348f5a21",
              "name": "apiKey",
              "value": "={{ $json.body.gemini_api_key }}",
              "type": "string"
            },
            {
              "id": "5c96a24f-fae9-41b8-bfa7-47a70479d47d",
              "name": "rubrica",
              "value": "={{ $json.body.rubric_json }}",
              "type": "object"
            },
            {
              "id": "spreadsheet-id-field-auto",
              "name": "spreadsheet_id",
              "value": "={{ $json.body.spreadsheet_id }}",
              "type": "string"
            },
            {
              "id": "rubric-folder-id-field-auto",
              "name": "rubric_folder_id",
              "value": "={{ $json.body.rubric_folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        2064
      ],
      "id": "0e242a1e-5886-4055-a622-a6d4d66df41d",
      "name": "DATOS"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.comision }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        2064
      ],
      "id": "2f7c5a4a-a3ae-4cf1-be6e-a82ef801a3da",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.materia }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        2064
      ],
      "id": "f7af48a2-5a54-4584-bacd-ee3e72c29907",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.carrera }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        944,
        2064
      ],
      "id": "683df65a-5d56-4ce9-802d-ca20adfddca2",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.facultad }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        2064
      ],
      "id": "e01ad622-a2b4-4d20-b4bf-c2825f3c4e53",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.nombre_universidad }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.drive_root }}",
            "mode": "url"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        2064
      ],
      "id": "c8b7d957-ee78-4cdc-bb71-6444d62cc278",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11502e79-ffed-48d3-9e32-c9a93534da9d",
              "name": "drive_root",
              "value": "https://drive.google.com/drive/u/0/folders/15vLtHZZyy1Fxs5S94lNmUjYdti3Tof-6",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        2064
      ],
      "id": "4d99f4fe-c5ee-4849-a742-dc25199df496",
      "name": "ROOT DRIVE"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ypEwYSV852TZ3zs7",
          "mode": "list",
          "cachedResultUrl": "/workflow/ypEwYSV852TZ3zs7",
          "cachedResultName": "Prueba - Correcion Masiva"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_universidad": "={{ $('DATOS').item.json.nombre_universidad }}",
            "facultad": "={{ $('DATOS').item.json.facultad }}",
            "carrera": "={{ $('DATOS').item.json.carrera }}",
            "materia": "={{ $('DATOS').item.json.materia }}",
            "comision": "={{ $('DATOS').item.json.comision }}",
            "apiKey": "={{ $('DATOS').item.json.apiKey }}",
            "rubrica": "={{ $('DATOS').item.json.rubrica }}",
            "trabajo": "={{ $('DATOS').item.json.trabajo }}",
            "spreadsheet_id": "={{ $('DATOS').item.json.spreadsheet_id }}",
            "rubric_folder_id": "={{ $('DATOS').item.json.rubric_folder_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre_universidad",
              "displayName": "nombre_universidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "facultad",
              "displayName": "facultad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "carrera",
              "displayName": "carrera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comision",
              "displayName": "comision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiKey",
              "displayName": "apiKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rubrica",
              "displayName": "rubrica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "trabajo",
              "displayName": "trabajo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "spreadsheet_id",
              "displayName": "spreadsheet_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "rubric_folder_id",
              "displayName": "rubric_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1840,
        2064
      ],
      "name": "Call correccion-masiva",
      "id": "be4ae1d7-f954-4a44-aea1-3eb362e76324",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('DATOS').item.json.trabajo }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        2064
      ],
      "id": "ae898348-af17-4f38-82b3-332f8c14791a",
      "name": "Search files and folders5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Szu2o4YspK0rOeZL",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Correccion automatica": {
      "main": [
        [
          {
            "node": "DATOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATOS": {
      "main": [
        [
          {
            "node": "ROOT DRIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Search files and folders5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROOT DRIVE": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call correccion-masiva": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Call correccion-masiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f0981ae4c0ef6f915f0b46ae60edab85d4bd6cddc77dbd7c3bcb8e7a3ea6e2a7"
  }
}