n8n/workflows/create-university-folder.json
{
  "name": "Create University Folder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-university-folder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-university",
      "name": "Webhook - Create University",
      "webhookId": ""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "university_id",
              "value": "={{ $json.body.university_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "root_folder_url",
              "value": "=https://drive.google.com/drive/u/0/folders/{{ $env.GOOGLE_DRIVE_ROOT_FOLDER_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "set-variables",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.university_id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.root_folder_url }}",
          "__regex": "https:\\/\\/drive\\.google\\.com(?:\\/.*|)\\/folders\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "id": "create-folder-drive",
      "name": "Create Folder in Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, folder_name: $json.name, folder_id: $json.id, message: 'Carpeta de universidad creada exitosamente' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [900, 300],
      "id": "respond-success",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Webhook - Create University": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Create Folder in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder in Drive": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
